@using FolhaPonto.Extensions
@using PagedList.Mvc
@model PagedList.IPagedList<FolhaPonto.Models.JornadaListViewModel>

@{
    ViewBag.Title = "Lista de Jornadas";
}
@Html.Partial("View")
<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Adicionar Jornada", "Create")
</p>
<table class="table">
    <tr>
        <th>#</th>
        <th>
            Cargo
        </th>
        <th>
            Hora Entrada
        </th>
        <th>
            Hora Saída
        </th>
        <th>
            Intervalo
        </th>
        <th>
            Meta
        </th>
        <th></th>
    </tr>

    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cargo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraEntrada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraSaida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TempoIntervalo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TempoMeta)
                </td>
                <td>
                    @Html.ActionIconLink("Edit", "Jornada", new { id = @item.Id }, new { @class = "glyphicon glyphicon-edit" }, new Dictionary<string, object> { { "class", "btn btn-default btn-sm" }, { "data-toggle", "tooltip" }, { "data-placement", "top" }, { "title", "Alterar" } })
                    @Html.ActionIconLink("Delete", "Jornada", new { id = @item.Id }, new { @class = "glyphicon glyphicon-trash" }, new Dictionary<string, object> { { "class", "modal-link btn btn-danger btn-sm" }, { "data-toggle", "tooltip" }, { "data-placement", "top" }, { "title", "Excluir" } })
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="7">
                Nenhum registro foi encontrado.
            </td>
        </tr>
    }
</table>
<div class="row">
    <div class="col-sm-12">
        Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>
<div>
    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-default" })
</div>